{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

<header>
    <div class="header">
        <a href="{% url 'home' %}" class="header-item">Головна</a>
        <div class="dropdown">
            <a href="{% url 'catalog' %}" class="header-item">Магазин</a>
            <div class="dropdown-content">
                <a href="{% url 'catalogCategory' "weapon" %}">Зброя</a>
                <a href="{% url 'catalogCategory' "cosmetics" %}">Декор</a>
                <a href="{% url 'catalogCategory' "decals" %}">Декалі</a>
            </div>
        </div>
        <a href="{% url 'community' %}" class="header-item">Спільнота</a>
        <a href="{% url 'leaderboard' %}" class="header-item">Лідерборд</a>
        <a href="{% url 'wiki' %}" class="header-item">Вікі</a>
        <div></div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="header-item">Вийти</a>
            <a href="{% url 'account' %}" class="header-item">Особистий кабінет</a>
        {% else %}
            <a href="{% url 'login' %}" class="header-item">Вхід</a>
            <a href="{% url 'register' %}" class="header-item">Реєстрація</a>
        {% endif %}
    </div>
</header>

<wrapper>

<div class="content">
{% block content %}
{% endblock %}
</div>

</wrapper>

<footer>

    <div class="footer-menu footer-item">
    
        <div class="footer-menu-items">
        <ul class="footer-menu-item">
        <li class="footer-menu-fitem"><a>Гра</a></li>
        <li><a href="{% url 'docs' %}?tab=about">Про гру</a></li>
        <li><a href="/#news">Новини</a></li>
        <li><a href="/#download">Скачати гру</a></li>
        </ul>
        </div>
        
        <div class="footer-menu-items">
        <ul class="footer-menu-item">
        <li class="footer-menu-fitem"><a>Магазин</a></li>
        <li><a href="{% url 'catalogCategory' "weapon" %}">Зброя</a></li>
        <li><a href="{% url 'catalogCategory' "cosmetics" %}">Декор</a></li>
        <li><a href="{% url 'catalogCategory' "decals" %}">Декалі</a></li>
        </ul>
        </div>
        
        <div class="footer-menu-items">
        <ul class="footer-menu-item">
        <li class="footer-menu-fitem"><a>Спільнота</a></li>
        <li><a href="https://www.youtube.com/">Youtube</a></li>
        <li><a href="https://t.me/">Telegram</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        </ul>
        </div>
        
        <div class="footer-menu-items">
        <ul class="footer-menu-item">
        <li class="footer-menu-fitem"><a>Кіберспорт</a></li>
        <li><a href="{% url 'leaderboard' %}">Таблиці лідерів</a></li>
        <li><a href="/#news">Новини</a></li>
        </ul>
        </div>
        
    </div>
    
    <div class="footer-copyright footer-item">© 2009–2026 Romashka Games. Всі права захищено.</div>
    <div class="footer-links">
        <a href="{% url 'docs' %}?tab=terms">Умови використання</a>
        <a href="{% url 'docs' %}?tab=services">Умови надання послуг</a>
        <a href="{% url 'docs' %}?tab=privacy">Політика конфідеціальності</a>
        <a href="{% url 'docs' %}?tab=cookies">Налаштування Cookie</a>
    </div>
    
</footer>

</body>
</html>