{% extends 'main/base.html' %}

{% block content %}

    <div class="products">
    {% if category %}
    
        {% for category in categories %}
            <div class="category-product">
            {% for product in products %}
                {% if product.category == category %}
                    <div class="product">
                        <a>{{ product.title }}</a>
                        <p>{{ product.price }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        
    {% else %}
    
        {% for product in products %}
            <div class="product" style="background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%), url('{{ product.image.url }}') 40%;"
            onclick="window.location.href='/product/{{ product.id }}'">
                <h2><a>{{ product.title }}</a><p>$ {{ product.price }}</p></h2>
                <div class="product-btns">
                    <a href="/product/{{ product.id }}" class="product-btn">Купити</a>
                    <a href="" class="product-btn">У кошик</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    </div>

{% endblock %}