{% extends 'main/base.html' %}

{% block content %}

    <div class="cart-container">
        <div class="cart">
            <h1>{{ title }}</h1>

            <div class="cart-items-list checkout-preview">
                {% for item in products %}
                    <div class="cart-item compact">
                        <div class="cart-item-img-wrapper">
                            <img src="{{ item.product.image.url }}">
                        </div>
                        <div class="cart-item-details">
                            <h3>{{ item.product.title }}</h3>
                            <p class="item-qty">x{{ item.quantity }}</p>
                            <p class="item-subtotal">${{ item.subtotal }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if products %}
                {% if invalid %}
                    <h4 class="error-msg">⚠️ Профіль не знайдено</h4>
                {% endif %}
                
                <form method="POST" class="check-form">
                    {% csrf_token %}
                    
                    <div class="check-down">
                        <h3 class="section-title">👤 Особисті дані гравця</h3>
                        <div class="check-down-up">
                            <input type="text" name="name" placeholder="Ігровий нікнейм" required autocomplete="off">
                            <input type="email" name="email" placeholder="Ваш Email" required autocomplete="off">
                        </div>
                        
                        <h3 class="section-title">💳 Спосіб оплати</h3>
                        <div class="payment-options">
                            <input type="radio" id="gpay" name="payment" value="gpay" required>
                            <label for="gpay">Google Pay</label>

                            <input type="radio" id="apay" name="payment" value="apay" required>
                            <label for="apay">Apple Pay</label>

                            <input type="radio" id="other" name="payment" value="other" required>
                            <label for="other">Інший спосіб</label>
                        </div>
                        
                        <div class="check-down-down">
                            <h2>До сплати: <span class="total-accent">${{ total }}</span></h2>
                            <button class="cart-btn action-btn" type="submit">Оплатити замовлення</button>
                        </div>
                    </div>
                </form>
            {% endif %}

            {% if not products %}
                <a class="check-end" href="{% url 'home' %}">На головну</a>
            {% endif %}
        </div>
    </div>

    
{% endblock %}