{% extends 'main/base.html' %}

{% block content %}
    <div class="wiki-container">
        <div class="items-catalog">
            {% for type in types %}
                <h3 class="type-name">{{ type }}</h3>
                <div class="type-catalog">
                    {% for item in items %}
                        {% if item.item_type == type %}
                            <a href="{% url 'wikiItem' item.id %}" class="wiki-item">
                                <div class="wiki-item-img-wrapper">
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                                </div>
                                <div class="wiki-item-info">
                                    <h4>{{ item.name }}</h4>
                                    <p>{{ item.description }}</p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="items-catalog">
    {% for type in types %}
        <h3 class="type-name">{{ type }}</h3>
        <div class="type-catalog">
        {% for item in items %}
        {% if item.item_type == type %}
            <a href="{% url 'wikiItem' item.id %}" class="wiki-item">
                <img src="{{ item.image.url }}">
                <div>
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.description }}</p>
                </div>
            </a>
        {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</div> -->
    
{% endblock %}